<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h3 class="text-center">Lista de Clientes</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form [formGroup]="frm" (ngSubmit)="saveForm(frm.value)">
        <div class="form-group">
          <label for="txtNome">Nome: </label>
          <input type="text" id="txtNome" class="form-control" formControlName="nome">
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="txtCpf">CPF: </label>
            <input type="text" id="txtCpf" class="form-control" formControlName="cpf">
          </div>
          <div class="form-group col-md-8">
            <label for="txtEmail">E-mail:</label>
            <input type="text" id="txtEmail" class="form-control" formControlName="email">
          </div>
        </div>
        <div class="form-group">
          <div class="col text-center">
            <button type="submit" class="btn btn-primary">{{this.btnLabel}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>nome</td>
            <td>cpf</td>
            <td>e-mail</td>
            <td class="text-center" style="width: 20%;">ação</td>
          </tr>
        </thead>
        <tbody *ngIf="users$ | async as response">
          <tr *ngFor="let user of response.data">
            <td>{{user.nome}}</td>
            <td>{{user.cpf}}</td>
            <td>{{user.email}}</td>
            <td class="text-center">
              <button class="btn btn-outline-secondary btn-sm" (click)="searchUser(user.id)"><i class="fas fa-eye"></i></button>
              <button class="btn btn-outline-info btn-sm ml-2" (click)="editUser(user.id)"><i class="fas fa-edit"></i></button>
              <button class="btn btn-outline-danger btn-sm ml-2" (click)="deleteUser(user.id)"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button routerLink="" class="btn">Voltar</button>
    </div>
  </div>
</div>
